<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <form>
      <div class="row column log-in-form">
        <h4 class="text-center">Welcome to the Frill Service!</h4>
        <p>Signup to find our what your frills are worth!</p>
        <p>{{link-to 'Sign Up' 'signup' class='button expanded'}}</p>
      </div>
    </form>
  </div>
</div>